<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-card *ngFor="let amigo of amigos" 
  (click)="verDetalle(amigo)">
    
    <ion-card-title size="large">{{ amigo.nombre_completo | uppercase }}</ion-card-title>
    <ion-card-subtitle>{{ amigo.cumpleanos | date : "dd/MM/y hh:mm:a" }}</ion-card-subtitle>
    <ion-card-content>
      <b>telefono : </b>{{ amigo.telefono }}<br>
    </ion-card-content>
    
  </ion-card>
</ion-content>

