<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registrar amigo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

<ion-item fill="outline" class="ion-margin">
  <ion-label position="floating">Nombre</ion-label>
  <ion-input placeholder="Escribir" [(ngModel)]="nombre"></ion-input>
</ion-item>

<ion-item fill="outline" class="ion-margin">
  <ion-label position="floating">Cumpleaños</ion-label>
  <ion-input type="datetime-local" placeholder="Fecha" [(ngModel)]="cumpleanos"></ion-input>
</ion-item>

<ion-item fill="outline" class="ion-margin">
  <ion-label position="floating">Telefono</ion-label>
  <ion-input placeholder="telefono" [(ngModel)]="telefono"></ion-input>
</ion-item>

<ion-item fill="outline" class="ion-margin">
  <ion-label position="floating">Correo</ion-label>
  <ion-input placeholder="Correo" [(ngModel)]="email"></ion-input>
</ion-item>

<ion-item fill="outline" class="ion-margin">
  <ion-label position="floating">Contraseña</ion-label>
  <ion-input type="password" placeholder="Contraseña" [(ngModel)]="contrasena"></ion-input>
</ion-item>

<ion-button expand="block"  color="success" class="ion-margin" (click)="guardar()">Registrar</ion-button>

<ion-alert
  [isOpen]="notificar"
  header="Evento registrado exitosamente"
  message="Puedes ir a los eventos para verlo"
  [buttons]="botones"
></ion-alert>

</ion-content>