<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-card *ngFor="let evento of eventos" 
  (click)="verDetalle(evento)">
    
    <ion-card-title size="large">{{ evento.nombre | uppercase }}</ion-card-title>
    <ion-card-subtitle>{{ evento.fecha | date : "dd/MM/y hh:mm:a" }}</ion-card-subtitle>
    <ion-card-content>
      <b>Lugar : </b>{{ evento.lugar }}<br>
      <b>Notas : </b>{{ evento.notas }}
    </ion-card-content>

    <ion-button size="small"  color="success">Llego!</ion-button>
    <ion-button size="small" color="danger">No la hago</ion-button>

  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="registrar()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button> 
  </ion-fab>
</ion-content>

